<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
            <div class="uk-width-large-10-10">
                <div class="md-card">
                    <div class="user_heading">
                        <div class="user_heading_avatar">
                            <img ng-src="{{user_data.avatar}}" alt="user avatar"/>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">{{ professionalCtrl.professional.name }}</span>
                                <span class="sub-heading">{{ professionalCtrl.professional.title }}</span>
                            </h2>
                        </div>
                        <a class="md-fab md-fab-small md-fab-accent" ui-sref="restricted.professionals.edit">
                            <i class="material-icons">&#xE150;</i>
                        </a>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                            <li class="uk-active"><a href="#">About</a></li>
                            <li><a href="#">Photos</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                {{user_data.about}}
                                <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">Contact Info</h4>
                                        <ul class="md-list md-list-addon">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{user_data_contacts.email}}</span>
                                                    <span class="uk-text-small uk-text-muted">Email</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{user_data_contacts.phone}}</span>
                                                    <span class="uk-text-small uk-text-muted">Phone</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{user_data_contacts.fb}}</span>
                                                    <span class="uk-text-small uk-text-muted">Facebook</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{user_data_contacts.twitter}}</span>
                                                    <span class="uk-text-small uk-text-muted">Twitter</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h4 class="heading_c uk-margin-bottom">Timeline</h4>
                                <div class="timeline">
                                    <div class="timeline_item" ng-repeat="event in user_data.timeline">
                                        <div class="timeline_icon timeline_icon_danger" ng-if="event.status == 'danger'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                                        <div class="timeline_icon timeline_icon_success" ng-if="event.status == 'success'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                                        <div class="timeline_icon timeline_icon_warning" ng-if="event.status == 'warning'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                                        <div class="timeline_icon timeline_icon_primary" ng-if="event.status == 'primary'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                                        <div class="timeline_icon" ng-if="!event.status"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                                        <div class="timeline_date">
                                            {{ event.date | jsonDate | date: 'dd' }}
                                            <span>{{ event.date | jsonDate |date: 'MMM' }}</span>
                                        </div>
                                        <div class="timeline_content">
                                            {{event.description}} <a href="#" ng-if="event.link_text"><strong>{{event.link_text}}</strong></a>
                                            <div class="timeline_content_addon" ng-if="event.image || event.post_excerpt || event.user_name">
                                                <img ng-src="{{event.image}}" alt="" ng-if="event.image"/>
                                                <blockquote ng-if="event.post_excerpt">
                                                    {{event.post_excerpt}}&hellip;
                                                </blockquote>
                                                <ul class="md-list md-list-addon" ng-if="event.user_name">
                                                    <li>
                                                        <div class="md-list-addon-element" ng-if="event.user_avatar">
                                                            <img class="md-user-image md-list-addon-avatar" ng-src="{{event.user_avatar}}" alt=""/>
                                                        </div>
                                                        <div class="md-list-content">
                                                            <span class="md-list-heading" ng-if="event.user_name">{{event.user_name}}</span>
                                                            <span class="uk-text-small uk-text-muted" ng-if="event.user_status">{{event.user_status}}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{gutter: 4}">
                                    <div ng-repeat="image in user_data.images">
                                        <a href="{{image}}" data-uk-lightbox="{group:'user_images'}">
                                            <img ng-src="{{image}}" alt=""/>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
