<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
            <div class="uk-width-large-10-10">
                <div class="md-card">
                    <div class="user_heading">
                        <div class="user_heading_avatar">
                            <img ng-src="{{ ::professionalCtrl.professional.photo }}" alt="user avatar"/>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">{{ ::professionalCtrl.professional.name }}</span>
                                <span class="sub-heading">{{ ::professionalCtrl.professional.title }}</span>
                            </h2>
                        </div>
                        <a class="md-fab md-fab-small md-fab-accent" ui-sref="restricted.professionals.edit">
                            <i class="material-icons">&#xE150;</i>
                        </a>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                            <li ng-class="{'uk-active': professionalCtrl.activeTab === 'basic' }"><a href="#">Basic info</a></li>
                            <li ng-class="{'uk-active': professionalCtrl.activeTab === 'contacts' }"><a href="#">Contact info</a></li>
                            <li ng-class="{'uk-active': professionalCtrl.activeTab === 'photos' }"><a href="#">Photos</a></li>
                            <li ng-class="{'uk-active': professionalCtrl.activeTab === 'products' }"><a href="#">Products</a></li>
                            <li ng-class="{'uk-active': professionalCtrl.activeTab === 'services' }"><a href="#">Services</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                {{ ::professionalCtrl.professional.description }}
                            </li>
                            <li>
                                <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2">
                                        <h3 class="full_width_in_card heading_c">
                                            Address
                                        </h3>
                                        <h4 class="heading_c uk-margin-small-bottom">District</h4>
                                        <p class="uk-text-muted">{{ ::professionalCtrl.professional.district.full_name }}</p>
                                        <div ng-if="::professionalCtrl.professional.postal_code">
                                            <h4 class="heading_c uk-margin-small-bottom">Postal code/ZIP</h4>
                                            <p class="uk-text-muted">{{ ::professionalCtrl.professional.postal_code }}</p>
                                        </div>
                                        <h4 class="heading_c uk-margin-small-bottom">Address</h4>
                                        <p class="uk-text-muted">{{ ::professionalCtrl.professional.address }}</p>
                                    </div>
                                    <div class="uk-width-large-1-2">
                                        <h3 class="full_width_in_card heading_c">
                                            Contacts
                                        </h3>
                                        <ul class="md-list md-list-addon">
                                            <li ng-if="::professionalCtrl.professional.phone_number">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ ::professionalCtrl.professional.phone_number }}</span>
                                                    <span class="uk-text-small uk-text-muted">Phone</span>
                                                </div>
                                            </li>
                                            <li ng-if="::professionalCtrl.professional.facebook_url">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ ::professionalCtrl.professional.facebook_url }}</span>
                                                    <span class="uk-text-small uk-text-muted">Facebook</span>
                                                </div>
                                            </li>
                                            <li ng-if="::professionalCtrl.professional.twitter_url">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ ::professionalCtrl.professional.twitter_url }}</span>
                                                    <span class="uk-text-small uk-text-muted">Twitter</span>
                                                </div>
                                            </li>
                                            <li ng-if="::professionalCtrl.professional.instagram_url">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-instagram"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ ::professionalCtrl.professional.instagram_url }}</span>
                                                    <span class="uk-text-small uk-text-muted">Instagram</span>
                                                </div>
                                            </li>
                                            <li ng-if="::professionalCtrl.professional.website_url">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-link"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{ ::professionalCtrl.professional.website_url }}</span>
                                                    <span class="uk-text-small uk-text-muted">Website</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                             <!-- Workaround to a strange box in the gallery.
                                TODO: Move this into a class or directive -->
                            <li style="min-height: 210px;">
                                <div class="gallery_grid uk-grid-width-medium-1-4 uk-grid-width-large-1-5" data-uk-grid="{gutter: 16}">
                                    <div ng-repeat="image in professionalCtrl.gallery.images" on-last-repeat>
                                        <div class="md-card md-card-hover">
                                            <div class="gallery_grid_item md-card-content">
                                                <a href="{{ ::image.photo }}" data-uk-lightbox="{group:'gallery'}">
                                                    <img ng-src="{{ ::image.photo }}" alt="">
                                                </a>
                                                <div class="gallery_grid_image_caption">
                                                    <div class="gallery_grid_image_menu" data-uk-dropdown="{pos:'top-right'}">
                                                        <i class="md-icon material-icons">&#xE5D4;</i>
                                                        <div class="uk-dropdown uk-dropdown-small">
                                                            <ul class="uk-nav">
                                                                <li><a ng-click="professionalCtrl.editPhoto(image)"><i class="material-icons uk-margin-small-right">&#xE150;</i> Edit</a></li>
                                                                <li><a ng-click="professionalCtrl.removePhoto(image)"><i class="material-icons uk-margin-small-right">&#xE872;</i> Remove</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <span class="gallery_image_title uk-text-truncate">{{ ::image.description }}</span>
                                                    <span class="uk-text-muted uk-text-small"><i class="material-icons">favorite</i>&nbsp;Bookmarks {{ ::image.bookmark_count }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
